<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <p>I am your shopping cart</p>
    </main>
<%- include('../includes/end.ejs') %>