<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <p>You found the home page</p>
    </main>
<%- include('../includes/end.ejs') %>