<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <p>Nothing there</p>
    </main>
    <%- include('../includes/end.ejs') %>